/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 */

body {
    margin: 0 auto;
    max-width: 50em;
}

body section#page {
    min-height: 30em;
    margin-bottom: 100px;
}

body header#header>h1 {
    background-image: url("http://warlock-course.qiniudn.com/Avatar_yellow.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-color: rgb(247,252,246);
    margin-bottom: 0px;
}

body header#header>h1 a {
	text-decoration: none;
    color: #333333;
}

body header#header>#menu>ul.nav {
    overflow: auto;
    padding-left: 0px;
    background-color: rgb(55,102,170);
    margin-top: 0px;
}

body header#header>#menu>ul.nav li {
    float: left;
    padding: 10px;
    list-style: none;
    color: white;
}

body header#header>#menu>ul.nav li.selected {
    background-color: #eeeeee;
    color: #333333;
}

body header#header>#menu>ul.nav li:hover {
    background-color: #eeeeee;
    transition: background-color 1s;
}

body header#header>#menu>ul.nav li a {
    text-decoration: none;
    color: #333333;
}

body footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}
